name: Simple Android Build

on:
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      # 关键修改点：切换到 master 分支，不限制版本号，获取最新版
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'master' 
          
      # 增加一步：清理一下缓存，防止旧依赖残留
      - name: Clean and Get Dependencies
        run: |
          cd simple_live_app
          flutter clean
          flutter pub get

      # 编译 Debug 包 (无需签名)
      - name: Build Debug APK
        run: |
          cd simple_live_app
          flutter build apk --debug --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: simple-live-debug
          path: simple_live_app/build/app/outputs/flutter-apk/app-debug.apk
